{% extends 'LeaveSDBundle::base.html.twig' %}

{% block title %}LeaveSD - Download{% endblock %}

{% block body %}
<h1>Download</h1>

<p>LeaveSD is currently compiled only for Windows. If you are interested in the support on other platforms, <a href="{{ path('ma_contact') }}">contact us</a>.</p>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th>Operating system</th>
    <td>Link</td>
</tr>
<tr>
    {% image '@AppBundle/Resources/public/img/OS/Windows.png' %}
    <th><a href="{{ path('leavesd_download_windows') }}"><img src="{{ asset_url }}" width="288" height="76" alt="Microsoft Windows" title="Microsoft Windows"></a></th>
    {% endimage %}
    <td><a href="{{ path('leavesd_download_windows') }}">MediaArea releases</a></td>
</tr>
<tr>
    <th><a href="{{ path('leavesd_download_source') }}">From source<br>(for other distributions or/and CPU)</a></th>
    <td><a href="{{ path('leavesd_download_source') }}">MediaArea releases</a></td>
</tr>
</table>
</div>
{% endblock %}
