{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}{% trans %}donate.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}donate.title{% endtrans %}</h1>
<h2>{% trans %}donate.why.title{% endtrans %}</h2>
{% trans %}donate.why.content{% endtrans %}

<h2>{% trans %}donate.paypal.title{% endtrans %}</h2>
{% if country %}{% trans with { '%country%': country, '%currency%': currency, '%contact%': path('ma_contact') } %}donate.location_currency{% endtrans %}<br>{% endif %}
{% if not app.user %}{% trans with { '%login%': path('fos_user_security_login'), '%register%': path('fos_user_registration_register') } %}donate.not_loggued_in{% endtrans %}<br>{% endif %}
{{ include('@Payment/form.html.twig') }}

<h2>{% trans %}donate.flattr.title{% endtrans %}</h2>
<a class="FlattrButton" style="display:none" data-flattr-button="compact" href="{{ path('mi_home') }}"></a>

<h2>{% trans %}donate.liberapay.title{% endtrans %}</h2>
{% image '@AppBundle/Resources/public/img/Liberapay.png' %}
<a href="{{ path('mi_donate') }}"><img src="{{ asset_url }}" width="70" height="25" alt="Liberapay" title="Liberapay"></a>
{% endimage %}

<h2>{% trans %}donate.patreon.title{% endtrans %}</h2>
{% image '@AppBundle/Resources/public/img/Patreon.png' %}
<a href="https://www.patreon.com/MediaArea"><img src="{{ asset_url }}" width="128" height="25" alt="Patreon" title="Patreon"></a>
{% endimage %}

<h2>{% trans %}donate.bank.title{% endtrans %}</h2>
{% trans %}donate.bank.content{% endtrans %}

{% if 'fr' == app.request.locale %}
    <h2>Par chèque (France uniquement)</h2>
    Il est possible d'envoyer un chèque à l'ordre de Jérôme Martinez (créateur du projet), adressé à l'adresse suivante :
    <div><div class="address">Jérôme Martinez<br/>Chemin du Vernay<br/>73190 Curienne<br/>France</div></div>
    N'oubliez pas de mettre un petit mot avec votre adresse e-mail afin que je vous confirme la réception!
{% endif %}

<h2>{% trans %}donate.other.title{% endtrans %}</h2>
{% trans with {'%contact%': path('ma_contact')} %}donate.other.content{% endtrans %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@PaymentBundle/Resources/public/js/form.js'
    filter="?jsqueeze" output='js/paymentForm.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript'; s.async = true;
        s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
</script>
{% endblock %}
