{% extends 'AppBundle::base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
<div class="panel panel-default fos_user_user_show">
    <div class="panel-heading">About you</div>
    <div class="panel-body">
        {% if app.user and is_granted('ROLE_BASIC') %}
            {% if user.realusername %}
                <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
            {% endif %}
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
            {% if user.name %}<p>Name: {{ user.name }}</p>{% endif %}
            {% if country %}<p>Country: {{ country }}</p>{% endif %}
            {% if language %}<p>Language: {{ language }}</p>{% endif %}
            <p>Professional: {% if user.professional %}Yes{% elseif false is same as(user.professional) %}No{% else %}Not specified{% endif %}</p>
            {% if user.companyName %}<p>Company name: {{ user.companyName }}</p>{% endif %}
            <p>Newsletter: {% if user.newsletter %}Yes{% else %}No{% endif %}</p>
            {% if user.endDate %}<p>Membership end date: {{ user.endDate|date_modify('-1 day')|date('Y-m-d') }}</p>{% endif %}
        {% endif %}

        <div class="fos_user_user_actions">
            {% if app.user and is_granted('ROLE_GUEST') %}
                <p><a href="{{ path('user_guest_register') }}">Register as a regular member</a></p>
            {% else %}
                <p><a href="{{ path('fos_user_profile_edit') }}">Edit your profile</a></p>
                <p><a href="{{ path('fos_user_change_password') }}">Change your password</a></p>
            {% endif %}
        </div>
    </div>
</div>

{% if app.user and is_granted('ROLE_BASIC') %}
    <div class="panel panel-default">
        <div class="panel-heading">Votes</div>
        <div class="panel-body">
            {% if user.vote %}
                <p>Voting points: {{ user.vote }} ({% if userVotes %}you have already given {{ userVotes }} voting points{% else %}You haven't vote for a feature yet{% endif %})</p>
            {% else %}
              <p>You have no vote points, if you want to vote for your favourite features <a href="{{ path('supportUs_individual') }}">buy vote points</a>.</p>
            {% endif %}

            {% if userVotesFeatures %}
              Features you voted on :<br>
              <ul>
                  {% for feature in userVotesFeatures %}
                      <li><a href="{{ path('vote_show_feature', {slug: feature.slug, id: feature.id}) }}">{{ feature.title }}</a></li>
                  {% endfor %}
              </ul>
            {% endif %}
          <p>See all <a href="{{ path('vote_list_features') }}">proposed features</a></p>
      </div>
    </div>
{% endif %}

{% if invoices %}
    <div class="panel panel-default profile-show-invoices">
      <div class="panel-heading">Invoices</div>
      <div class="panel-body">
          <ul>
              {% for invoice in invoices  %}
                  <li><a href="" data-toggle="modal" data-target="#invoiceModal" data-invoice-id="{{ invoice.id }}">{{ (invoice.amount + invoice.vat)}} {{ invoice.currency }} on {{ invoice.date|date('F jS Y') }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>

    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invoice</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-invoice-success">
                        {{ include('@Payment/Invoice/invoice_content.html.twig') }}
                    </div>
                    <div class="modal-invoice-error hidden">
                        <div class="alert alert-danger">
                            An error occured, please try again later. <a href="mailto:info@mediaarea.net">Contact us</a> if the problem persists.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-dld">Download</button>
                    <button type="button" class="btn btn-primary btn-print">Print</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">Quotas</div>
    <div class="panel-body">
        MediaConchOnline quotas :
        <ul>
            <li>Policies and displays : {{ quotas.policiesUsed }} / {{ quotas.policiesQuota }}</li>
            <li>Uploads : {{ quotas.uploadsUsed }} / {{ quotas.uploadsQuota }}{% if quotas.uploadsLimit %} (valid until {{ quotas.uploadsLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
            <li>Urls : {{ quotas.urlsUsed }} / {{ quotas.urlsQuota }}{% if quotas.urlsLimit %} (valid until {{ quotas.urlsLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
            <li>Policy checks : {{ quotas.policyChecksUsed }} / {{ quotas.policyChecksQuota }}{% if quotas.policyChecksLimit %} (valid until {{ quotas.policyChecksLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
        </ul>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% javascripts
    '@UserBundle/Resources/public/js/invoice.js'
    '@UserBundle/Resources/public/js/printThis.js'
    filter="?jsqueeze" output='js/invoice.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
