{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}screenshots.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}screenshots.title{% endtrans %}</h1>

<div>
    <h2 id="windows">Windows</h2>
    <ul class="thumbnails">
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Easy_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryWin" href="{{ asset_url }}" title="Windows &quot;Easy&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Easy_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Windows &quot;Easy&quot; view" width="300" height="195">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Text_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryWin" href="{{ asset_url }}" title="Windows &quot;Text&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Text_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Windows &quot;Text&quot; view" width="300" height="363">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Tree_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryWin" href="{{ asset_url }}" title="Windows &quot;Tree&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Windows_Tree_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Windows &quot;Tree&quot; view" width="300" height="360">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
    </ul>
</div>

<div>
    <h2 id="mac">Mac</h2>
    <ul class="thumbnails">
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Easy_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryMac" href="{{ asset_url }}" title="Mac &quot;Easy&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Easy_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Mac &quot;Easy&quot; view" width="300" height="195">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Text_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryMac" href="{{ asset_url }}" title="Mac &quot;Text&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Text_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Mac &quot;Text&quot; view" width="300" height="363">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
        <li>
            {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Tree_en.png' %}
            <a class="fancybox-thumb" data-fancybox-group="galleryMac" href="{{ asset_url }}" title="Mac &quot;Tree&quot; view">
                {% image '@AppBundle/Resources/public/img/Screenshot/MediaInfo_Mac_Tree_en-thumb.png' %}
                <img src="{{ asset_url }}" alt="Mac &quot;Tree&quot; view" width="300" height="360">
                {% endimage %}
            </a>
            {% endimage %}
        </li>
    </ul>
</div>

<a class="btn btn-default" data-toggle="collapse" data-target="#cli">
    <i class="icon-white icon-screenshot pull-left"></i> CLI Output
</a>

<div id="cli" class="collapse">
    <pre>C:>mediainfo Example.mxf
General
Complete name                            : C:\Example.mxf
Format                                   : MXF
Commercial name                          : XDCAM HD422
Format profile                           : OP-1a
Format settings                          : Closed / Complete
File size                                : 1.89 GiB
Duration                                 : 4mn 52s
Overall bit rate                         : 55.5 Mbps
Encoded date                             : 2012-10-29 19:28:07.712
Writing application                      : Telestream FlipFactory 1.0.0.0.0
Writing library                          : Telestream FlipFactory 1.0.0.0.0

Video
ID                                       : 768
Format                                   : MPEG Video
Commercial name                          : XDCAM HD422
Format version                           : Version 2
Format profile                           : 4:2:2@High
Format settings, BVOP                    : Yes
Format settings, Matrix                  : Default
Format settings, GOP                     : M=3, N=9
Format_Settings_Wrapping                 : Frame
Duration                                 : 4mn 52s
Bit rate                                 : 50.0 Mbps
Width                                    : 1 280 pixels
Height                                   : 720 pixels
Display aspect ratio                     : 16:9
Frame rate                               : 59.940 fps
Color space                              : YUV
Chroma subsampling                       : 4:2:2
Bit depth                                : 8 bits
Scan type                                : Progressive
Compression mode                         : Lossy
Bits/(Pixel*Frame)                       : 0.905
Time code of first frame                 : 00:00:00:00
Time code source                         : Group of pictures header
Stream size                              : 1.70 GiB (90%)

Audio #1
ID                                       : 1024
Format                                   : PCM
Format settings, Endianness              : Little
Format_Settings_Wrapping                 : Frame (AES)
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Bit rate                                 : 1 152 Kbps
Channel(s)                               : 1 channel
Sampling rate                            : 48.0 KHz
Bit depth                                : 24 bits
Stream size                              : 40.1 MiB (2%)

Audio #2
ID                                       : 1280
Format                                   : PCM
Format settings, Endianness              : Little
Format_Settings_Wrapping                 : Frame (AES)
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Bit rate                                 : 1 152 Kbps
Channel(s)                               : 1 channel
Sampling rate                            : 48.0 KHz
Bit depth                                : 24 bits
Stream size                              : 40.1 MiB (2%)

Audio #3
ID                                       : 1536
Format                                   : PCM
Format settings, Endianness              : Little
Format_Settings_Wrapping                 : Frame (AES)
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Bit rate                                 : 1 152 Kbps
Channel(s)                               : 1 channel
Sampling rate                            : 48.0 KHz
Bit depth                                : 24 bits
Stream size                              : 40.1 MiB (2%)

Audio #4
ID                                       : 1792
Format                                   : PCM
Format settings, Endianness              : Little
Format_Settings_Wrapping                 : Frame (AES)
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Bit rate                                 : 1 152 Kbps
Channel(s)                               : 1 channel
Sampling rate                            : 48.0 KHz
Bit depth                                : 24 bits
Stream size                              : 40.1 MiB (2%)

text #1
ID                                       : 512-CC1
Format                                   : EIA-608
Muxing mode                              : Ancillary data / CDP
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Stream size                              : 0.00 Byte (0%)

text #2
ID                                       : 512-1
Format                                   : EIA-708
Muxing mode                              : Ancillary data / CDP
Duration                                 : 4mn 52s
Bit rate mode                            : Constant
Stream size                              : 0.00 Byte (0%)

Other #1
ID                                       : 0
Type                                     : Time code
Format                                   : MXF TC
Time code of first frame                 : 01:00:00;00
Time code settings                       : Striped

Other #2
Type                                     : Time code
Format                                   : SMPTE TC
Muxing mode                              : SDTI
Time code of first frame                 : 01:00:00;00</pre>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox-thumb").fancybox({
            helpers: {
                thumbs: { width: 100, height: 74 }
            }
        });
    });
</script>
{% endblock %}
