{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}testimonials.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}testimonials.title{% endtrans %}</h1>
<h2>{% trans %}testimonials.technology.title{% endtrans %}</h2>

<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo has been the ideal tool; clearly the fastest, and by far, the simplest, tool to integrate into our wide scale content verification platform. With the broad demux and parsing support for containers and codecs, MediaInfo’s integration satisfies the needs of our customers in the broadcast, post-production, authoring, archive and distribution industries. Jerome’s help has been invaluable in bringing up new features. We are always pleased to support great open source software like MediaInfo.&quot;</em></p>
     <p><strong>&#8212; Eric Carson, CTO,  <a href="http://digi-metrics.com">file-based products</a>, <a href="http://tek.com">Tektronix</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Tektronix.png' %}
    <a href="http://tek.com"><img src="{{ asset_url }}" alt="Tektronix" title="Tektronix" width="288" height="79"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><a name="ExtremeReach"></a><em>&quot;At Extreme Reach we process many thousands of media files daily as we get Video and TV ads to whatever screen or device they are meant to play on. MediaInfo is our tool of choice for file analysis and validation. In addition to using the basic analysis function, we find the advanced 'deep-dive' feature to be invaluable in helping identify why a system may have an issue with a particular file or format. We appreciate the hard work by Jerome and everybody else associated with the MediaInfo project and are proud to support their continued efforts.&quot;</em></p>
     <p><strong>&#8212; David Unsworth, VP Technical Operations, <a href="http://extremereach.com">Extreme Reach</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/ExtremeReach.png' %}
    <a href="http://extremereach.com"><img src="{{ asset_url }}" alt="ExtremeReach" title="ExtremeReach"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo enables us to improve video output quality by adapting our transcoding parameters dynamically to better fit the specific input source.  Jerome has responded immediately to any queries that we've had about this great product.&quot;</em></p>
     <p><strong>&#8212; Ed Solovey, Senior Software Engineer, <a href="http://brightcove.com">Brightcove</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Brightcove.png' %}
    <a href="http://www.brightcove.com"><img src="{{ asset_url }}" alt="Brightcove" title="Brightcove" width="318" height="78"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;At Comcast AdDelivery we use MediaInfo to examine every spot sent to us.  It is the first stage of our quality checking and it is a vital component in decided which transcoding profiles should be used when creating our ready to air formats.  MediaInfo is vastly superior to commercial alternatives or integrating directly with the many media format APIs. Thanks Jerome. MediaInfo rocks!&quot;</em></p>
     <p><strong>&#8212; Patrick O'Connor, Director, Product Management, <a href="http://www.comcastmediacenter.com/addelivery/">Comcast AdDelivery</a></strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Comcast_AdDelivery.jpg' %}
    <a href="http://www.levelsbeyond.com"><img src="{{ asset_url }}" alt="Comcast AdDelivery" title="Comcast AdDelivery" width="330" height="100"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo is invaluable in helping metachannels determine video encoding information. The well-thought out library allowed us to integrating into our infrastructure with a minimum of code, and the fact that it works on OSX as well as Linux allows us to have the full feature set in our development boxes as well as the servers. And it's always nice to have non-coders be able to use the GUI version and be able to predict what information the server will output for a specific URL. Great job, Jerome!&quot;</em></p>
     <p><strong>&#8212; David Martinez, Senior Software Engineer, Tech Lead, <a href="http://meta.channels.com">Channels.com</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Channels.com.png' %}
    <a href="http://meta.channels.com"><img src="{{ asset_url }}" alt="Channels.com" title="Channels.com" width="288" height="112"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;At Zencoder we use MediaInfo as one of the file inspection tools in our stack. It's been great for getting info on a myriad of formats and helps us get more accurate information than some of the other open source tools can provide.&quot;</em></p>
     <p><strong>&#8212; Brandon Arbini, Co-founder, <a href="http://www.zencoder.com">Zencoder</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Zencoder.png' %}
    <a href="http://www.zencoder.com"><img src="{{ asset_url }}" alt="Zencoder" title="Zencoder" width="300" height="39"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;We are building custom video conversion workflows for broadcasters. We wrote a software which connects and manages various 3rd party programs, some are commercial and some are open-source.<br />
     MediaInfo is very useful to us in identifying all of the incoming media files. You are doing a super job with it!&quot;</em></p>
     <p><strong>&#8212; Lior Bahr, VP Product, <a href="http://www.vcodes.tv">Vcodes</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Vcodes.png' %}
    <a href="http://www.vcodes.com"><img src="{{ asset_url }}" alt="Vcodes" title="Vcodes" width="148" height="58"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo was the tool we needed to inspect the media information for videos on our website. Using the information from MediaInfo, we were able to write services that converted uploaded videos to the MPEG-4 format for streaming to Flash. MediaInfo what the perfect tool for extracting information about the source video including audio and video codecs, dimensions, container format, and more.&quot;</em></p>
     <p><strong>&#8212; Jeff Kelling, vice president of technology, <a href="http://www.fototime.com">FotoTime, Inc</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/FotoTime.png' %}
    <a href="http://www.fototime.com"><img src="{{ asset_url }}" width="128" height="128" alt="FotoTime" title="FotoTime"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo's flexible output templating and broad format support allows us to automate the data collection and analysis of a wide variety of user generated media content.&quot;</em></p>
     <p><strong>&#8212; Andrew Wason, Chief Architect, <a href="http://www.motionbox.com">Motionbox</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/MotionBox.png' %}
    <a href="http://www.motionbox.com"><img src="{{ asset_url }}" width="290" height="70" alt="MotionBox" title="MotionBox"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo has enabled us to build a variety of analysis tools that will reliably process nearly any format we receive from the field. The code is well-supported and well-documented. The developers are always very responsive to support and bug inquiries.&quot;</em></p>
     <p><strong>&#8212; Marc Reichman, Systems Architect, <a href="http://www.pixelforensics.com">Pixel Forensics, Inc</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/PixelForensics.png' %}
    <a href="http://www.pixelforensics.com"><img src="{{ asset_url }}" width="250" height="66" alt="Pixel Forensics" title="Pixel Forensics"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo is an invaluable tool which has given us the ability to streamline our encoding process by providing metadata information about an asset so that downstream processes can be automated. Its ability to quickly report on the properties of a given multimedia asset helps shed immediate light. Its cross-platform development extends its usability so you're not just stuck with any given OS type. MediaInfo is one of the best open-source multimedia tools available.<br/>
      If you deal with multimedia assets daily, don't be caught without it.&quot;</em></p>
     <p><strong>&#8212; Sr. Video Encoding Engineer in a provider of on-demand internet streaming media (name concealed for confidentiality)</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Approval.png' %}
    <a xhref=""><img src="{{ asset_url }}" width="128" height="128" alt="" title""></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;Levels Beyond utilizes MediaInfo in its custom asset management and workflow systems for enterprise customers. Its broad format support is indispensable in a media world where proprietary tools and formats abound.  MediaInfo's CLI support and easily parseable output allows it to become a crucial component of our automated workflow systems.  And the coup de gras, developer support on this tool is top notch - thanks Jerome!&quot;</em></p>
     <p><strong>&#8212; Dave Lamy, Vice President of Engineering, <a href="http://www.levelsbeyond.com">Levels Beyond</a></strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/LevelsBeyond.png' %}
    <a href="http://www.levelsbeyond.com"><img src="{{ asset_url }}" alt="Levels Beyond" title="Levels Beyond" width="318" height="64"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo enables us to get all the file information and special to detect the field order, so our clients get the right TV masters created in our ioGates Media Management software (SaaS). Super support from Jerome.&quot;</em></p>
     <p><strong>&#8212; Jesper Andersen, CEO, <a href="http://filmflip.com">FilmFlip.com</a></strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/FilmFlip.png' %}
    <a href="http://filmflip.com"><img src="{{ asset_url }}" alt="FilmFlip" title="FilmFlip" width="333" height="67"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table id="Signiant">
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo is used by many of our customers so we naturally turned to Jérôme when we had some advanced questions on integrating it into some of our solutions.  Jérôme's answers were fast and complete and we'll continue to use MediaInfo to meet our advanced media metadata interrogation needs.&quot;</em></p>
     <p><strong>&#8212; Mike Nash, Product Manager, <a href="http://signiant.com">Signiant</a></strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Signiant.png' %}
    <a href="http://signiant.com"><img src="{{ asset_url }}" alt="Signiant" title="Signiant" width="260" height="124"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table id="KMPlayer">
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;Mediaarea has been instrumental in providing us with their analyzer technology, which has been distributed with high satisfaction to over 300million of our users, globally. It allows the users to view their media file information quickly and effectively.&quot;</em></p>
     <p><strong>&#8212; Jay Park, VP of Business Strategy, <a href="http://www.kmplayer.com">KMPlayer, inc.</a></strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/KMPlayer.png' %}
    <a href="http://www.kmplayer.com/"><img src="{{ asset_url }}" alt="KMPlayer" title="KMPlayer" width="259" height="49"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>

<h2>{% trans %}testimonials.broadcasting.title{% endtrans %}</h2>

<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;The BBC uses MediaInfo to validate input files and to perform some automated quality checks on the encodes we produce for BBC iPlayer.&quot;</em></p>
     <p><strong>&#8212; Mary McCarthy, Executive Product Manager, Media Publishing, <a href="http://www.bbc.co.uk/iplayer">BBC Online Technology Group</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Approval.png' %}
    <a href="http://www.bbc.co.uk/iplayer"><img src="{{ asset_url }}" width="128" height="128" alt="BBC Online Technology Group" title="BBC Online Technology Group"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<br/>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo is a key component in our in-house transcoding application for the webtv channel Pirat TV. By using Mediainfo I'm always able to extract all the metadata i need - even from obscure formats. When approaching Jerome with a couple of bug findings he replied instantly and fixed them within hours. Open source at its best!&quot;</em></p>
     <p><strong>&#8212; Frederik Dam Sunne, Technical Project Manager <a href="http://www.dr.dk/pirattv">Danish Broadcast Corporation (DR)</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Approval.png' %}
    <a href=""><img src="{{ asset_url }}" width="128" height="128" alt="" title=""></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;Regarding our VOD contents within Numericable, we have found in MediaInfo a simple tool to be used to process their verification, especially on the subtitles. The efficiency of MediaInfo is its faculty of adaptation on our platform with multiple facets as command-line client together on several operating systems (Windows, Debian). Simplicity is the key. Thanks to Jerome for his reactivity.&quot;</em></p>
     <p><strong>&#8212; Nicolas Garnero, In Charge of VOD Portal, <a href="http://numericable.fr">Numericable</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Numericable.png' %}
    <a href="http://www.dr.dk/pirattv"><img src="{{ asset_url }}" alt="Numericable" title="Numericable" width="261" height="80"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;The broadcast industry is on a fast migration path from tape delivery of contribution material to file delivery. Our playout servers are fairly rigid about file format compatibility and we used to spend many hours attempting to discern file characteristics when troubleshooting client contribution. We need to be able to identify codecs, bitrate info, frame rates, scan rates and more. Prior to discovering this program we had no hardware/software solution for assisting our clients in providing usable content.&quot;</em></p>
     <p><em>&quot;An HD camera and edit system is so inexpensive these days that people who know nothing about video production can become a Video Producer. These users are completely unfamiliar with export settings on their systems. MediaInfo is an invaluable tool to evaluate a file and identify issues within seconds. It provides every bit of information we need discover why a file will not work within our systems and provide info back to the contributor to correct these issues.&quot;</em></p>
     <p><em>&quot;MediaInfo is widely used in the Broadcast Television industry and has become our little secret in presenting ourselves as the ultimate authority in file based content delivery.&quot;</em></p>
     <p><strong>&#8212; Mark Dunham, Chief Engineer, <a href="http://www.kxan.com/">KXAN-TV</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/KXAN-TV.png' %}
    <a href="http://www.kxan.com/"><img src="{{ asset_url }}" alt="KXAN-TV" title="KXAN-TV" width="213" height="63"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>

<h2>{% trans %}testimonials.libraries.title{% endtrans %}</h2>

<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;As a National Library incorporating the National Screen and Sound Archive of Wales, we have to preserve digital audiovisual material in perpetuity. Part of this work is characterising AV files and extracting technical metadata. We found no better tool at this job than MediaInfo, and the support and response from MediaArea.net SARL has always been excellent.&quot;</em></p>
     <p><strong>&#8212; Illtud Daniel, Chief Technical Officer, <a href="http://www.llgc.org.uk">National Library of Wales</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/LLGC.png' %}
    <a href="http://www.llgc.org.uk"><img src="{{ asset_url }}" alt="LLGC" title="LLGC" width="128" height="120"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em><a name="MoMA"></a>&quot;At MoMA we rely heavily on MediaInfo, not only as a tool for manual assessments conducted by our media conservators, but also as an absolutely crucial component of our digital repository.&quot;</em></p>
     <p><strong>&#8212; Ben Fino-Radin, Digital Repository Manager, <a href="http://moma.org/">The Museum of Modern Art</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Moma.jpg' %}
    <a href="http://www.moma.org/"><img src="{{ asset_url }}" width="130" height="40" alt="MoMA" title="The Museum of Modern Art"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;In its twelfth year of production, MediaInfo has proven itself as an essential tool for technical metadata analysis. Jérôme Martinez plays an invaluable role in the information exchange between file format developers and media archiving communities.&quot;</em></p>
     <p><strong>&#8212; Erik Piil, Digital Archivist, <a href="http://anthologyfilmarchives.org/">Anthology Film Archives</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Anthology_Film_Archives.png' %}
    <a href="http://anthologyfilmarchives.org/"><img src="{{ asset_url }}" width="128" height="128" alt="Anthology Film Archives" title="Anthology Film Archives"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
<table id="CNA">
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;Essential. Simple. Effective. Up to date. With MediaInfo, we found what we were looking for. We use it daily to control our audiovisual deposits, and keep a visual trace of their metadata.&quot;</em></p>
     <p lang="fr"><em>&quot;Indispensable. Simple. Efficace. À jour. Avec MediaInfo, nous avons trouvé ce qu'il nous fallait. Nous l'utilisons quotidiennement pour contrôler nos dépôts mais aussi conserver la trace visuelle de leurs métadonnées.&quot;</em></p>
     <p><strong>&#8212; Delphine Kiefer, service du dépôt légal, <a href="http://cna.lu/">Centre national de l'audiovisuel // Luxembourg</a>.</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/CNA.png' %}
    <a href="http://cna.lu/"><img src="{{ asset_url }}" width="109" height="95" alt="CNA" title="CNA"></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>

<h2>{% trans %}testimonials.education.title{% endtrans %}</h2>

<table>
 <tbody>
  <tr>
   <td>
    <blockquote>
     <p><em>&quot;MediaInfo was certainly an important tool in our ingestion workflow for [our] Project.<br/>
     I've also used MediaInfo as a teaching tool at workshops [abroad], helping people new to digital A/V understand technical metadata, mapping, and file formats and codecs.&quot;</em></p>
     <p><strong>&#8212; Metadata specialist in an American university (name was hidden for confidentiality purposes)</strong></p>
    </blockquote>
   </td>
   <td>
    {% image '@AppBundle/Resources/public/img/Company/Approval.png' %}
    <a href=""><img src="{{ asset_url }}" width="128" height="128" alt="" title=""></a>
    {% endimage %}
   </td>
  </tr>
 </tbody>
</table>

<h2>{% trans %}testimonials.other.title{% endtrans %}</h2>

<table>
 <tbody>
  <tr>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/RGB_Networks.png' %}
       <a href="http://www.rgbnetworks.com"><img src="{{ asset_url }}" width="316" height="100" alt="RGB Networks" title="RGB Networks"></a>
       {% endimage %}
   </td>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/SGT.png' %}
       <a href="http://www.sgt.fr"><img src="{{ asset_url }}" width="312" height="86" alt="SGT" title="SGT"></a>
       {% endimage %}
   </td>
  </tr>
  <tr>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/PacketVideo.png' %}
       <a href="http://www.pv.com"><img src="{{ asset_url }}" width="160" height="99" alt="PacketVideo (PV)" title="PacketVideo (PV)"></a>
       {% endimage %}
   </td>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/AVPreserve.png' %}
       <a href="http://www.avpreserve.com"><img src="{{ asset_url }}" width="121" height="113" alt="AudioVisual Preservation Solutions" title="AudioVisual Preservation Solutions"></a>
       {% endimage %}
   </td>
  </tr>
  <tr>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/Chyro.png' %}
       <a href="http://www.chyro.fr"><img src="{{ asset_url }}" width="231" height="78" alt="Chyro" title="Chyro"></a>
       {% endimage %}
   </td>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/eAd.png' %}
       <a href="http://www.ead.ch"><img src="{{ asset_url }}" alt="eAd" title="eAd" width="152" height="80"></a>
       {% endimage %}
   </td>
  </tr>
  <tr>
   <td>
       {% image '@AppBundle/Resources/public/img/Company/Maxnine.png' %}
       <a href="http://www.maxnine.com"><img src="{{ asset_url }}" width="139" height="79" alt="Maxnine" title="Maxnine"></a>
       {% endimage %}
   </td>
  </tr>
 </tbody>
</table>
{% endblock %}
