{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch Team and Advisors{% endblock %}

{% block body %}
<h1>MediaConch Team and Advisors</h1>

<h2>The team</h2>
<p>MediaConch project leads are:</p>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Jérôme Martinez<br> (Digital Media Analysis Specialist)</h3>
            <span class="featureDescription">Technical design, implementation of the bytestream/bitstream analyzer, extraction of metadata</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:info@mediaarea.net">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="https://fr.linkedin.com/in/jermartinez" target="_blank">{% image '@AppBundle/Resources/public/img/LinkedIn16.png' %}<img src="{{ asset_url }}" alt="LinkedIn" >{% endimage %}</a>
            <a href="https://twitter.com/MediaArea_Net" target="_blank">{% image '@AppBundle/Resources/public/img/Twitter16.png' %}<img src="{{ asset_url }}" alt="Twitter" >{% endimage %}</a>
            <a href="https://plus.google.com/u/0/+MediaAreaNetOfficial" target="_blank">{% image '@AppBundle/Resources/public/img/GooglePlus16.png' %}<img src="{{ asset_url }}" alt="Google Plus" >{% endimage %}</a>
            <a href="https://github.com/JeromeMartinez" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
            <a href="https://www.openhub.net/accounts/JeromeMartinez" target="_blank">{% image '@AppBundle/Resources/public/img/OpenHub16.png' %}<img src="{{ asset_url }}" alt="Open Hub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Dave Rice<br> (Archivist)</h3>
            <span class="featureDescription">Communication with memory institutions, definition of tests, documentation</span>
        </header>
        <p class="featureInfos">
            <a href="http://dericed.com" target="_blank">{% image '@AppBundle/Resources/public/img/Website16.png' %}<img src="{{ asset_url }}" alt="Website" >{% endimage %}</a>
            <a href="https://twitter.com/dericed" target="_blank">{% image '@AppBundle/Resources/public/img/Twitter16.png' %}<img src="{{ asset_url }}" alt="Twitter" >{% endimage %}</a>
            <a href="https://github.com/dericed" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>
<p>Other team members are:</p>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Guillaume Roques<br> (Senior Developer)</h3>
            <span class="featureDescription">Database management, automation, performance optimization, shell, website maintenance</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:info@mediaarea.net" target="_blank">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="https://www.linkedin.com/in/guillaume-roques-3a962899/" target="_blank">{% image '@AppBundle/Resources/public/img/LinkedIn16.png' %}<img src="{{ asset_url }}" alt="LinkedIn" >{% endimage %}</a>
            <a href="https://github.com/GuillaumeRoques" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Florent Tribouilloy</h3>
            <span class="featureDescription">Implementation of the bytestream/bitstream analyzer, extraction of metadata, GUI development, reporting</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:info@mediaarea.net" target="_blank">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="https://github.com/tribouille" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Ashley Blewer<br> (Archivist)</h3>
            <span class="featureDescription">Technical writing and documentation, design and user experience optimization</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:ashley.blewer@gmail.com" target="_blank">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="http://ashleyblewer.com/" target="_blank">{% image '@AppBundle/Resources/public/img/Website16.png' %}<img src="{{ asset_url }}" alt="Website" >{% endimage %}</a>
            <a href="https://twitter.com/ablwr" target="_blank">{% image '@AppBundle/Resources/public/img/Twitter16.png' %}<img src="{{ asset_url }}" alt="Twitter" >{% endimage %}</a>
            <a href="https://github.com/ablwr" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Natalie Cadranel<br> (Archivist)</h3>
            <span class="featureDescription">User experience, community support, technical writing and documentation</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:natalie.cadranel@gmail.com" target="_blank">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="https://twitter.com/ncadranel" target="_blank">{% image '@AppBundle/Resources/public/img/Twitter16.png' %}<img src="{{ asset_url }}" alt="Twitter" >{% endimage %}</a>
            <a href="https://github.com/foundscapes" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Tessa Fallon<br> (Archivist)</h3>
            <span class="featureDescription">Community outreach and standards organization</span>
        </header>
        <p class="featureInfos">
            <a href="mailto:tessa.fallon@gmail.com" target="_blank">{% image '@AppBundle/Resources/public/img/Email16.png' %}<img src="{{ asset_url }}" alt="E-mail" >{% endimage %}</a>
            <a href="https://twitter.com/tessafallon" target="_blank">{% image '@AppBundle/Resources/public/img/Twitter16.png' %}<img src="{{ asset_url }}" alt="Twitter" >{% endimage %}</a>
            <a href="https://github.com/tessafallon" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Erik Piil<br> (Archivist)</h3>
            <span class="featureDescription">Technical writing and documentation, OAIS compliance support</span>
        </header>
        <p class="featureInfos">
            <a href="https://github.com/epiil" target="_blank">{% image '@AppBundle/Resources/public/img/GitHub16.png' %}<img src="{{ asset_url }}" alt="GitHub" >{% endimage %}</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>

<h2>Project Advisors</h2>
<p>
    MediaArea has approached several individual and institutional partners from varying types of organizations to provide expertise, testing, and feedback to the project as it develops. The intent of this aspect of our proposal is to facilitate an efficient and responsive mechanism for feedback with specialized areas of expertise relevant to the project.
</p>

<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Moritz Bunkus<br> (<a href="https://www.matroska.org/" target="_blank">Matroska</a> main developer)</h3>
            <span class="featureDescription">Validation of Matroska tests, Matroska specific technical support, review of standardization efforts</span>
        </header>
        <p class="featureInfos">
            {% image '@MediaConchBundle/Resources/public/img/Matroska.png' %}
            <a href="https://www.matroska.org/" target="_blank"><img src="{{ asset_url }}" alt="Matroska" title="Matroska" height="40"></a>
            {% endimage %}
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Michael Niedermayer<br> (<a href="https://www.ffmpeg.org/" target="_blank">FFmpeg</a> maintainer and FFV1 primary author)</h3>
            <span class="featureDescription">Validation of FFV1 tests, FFV1 specific technical support, review of standardization efforts</span>
        </header>
        <p class="featureInfos">
            {% image '@MediaConchBundle/Resources/public/img/FFmpeg.png' %}
            <a href="https://www.ffmpeg.org/" target="_blank"><img src="{{ asset_url }}" alt="FFmpeg" title="FFmpeg" height="40"></a>
            {% endimage %}
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Luca Barbato<br> (<a href="https://libav.org/" target="_blank">Libav</a> maintainer)</h3>
            <span class="featureDescription">alidation of FFV1 tests, FFV1 specific technical support, review of standardization efforts</span>
        </header>
        <p class="featureInfos">
            {% image '@MediaConchBundle/Resources/public/img/libav.png' %}
            <a href="https://libav.org/" target="_blank"><img src="{{ asset_url }}" alt="Libav" title="Libav" height="49"></a>
            {% endimage %}
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3><a href="https://www.artefactual.com" target="_blank">Artefactual Systems</a><br> (consulting and development company)</h3>
            <span class="featureDescription">Provide testing and feedback of project tools, implement select conformance checker tools into Archivematica</span>
        </header>
        <p class="featureInfos">
            {% image '@MediaConchBundle/Resources/public/img/ArtefactualSystems.png' %}
            <a href="https://www.artefactual.com" target="_blank"><img src="{{ asset_url }}" alt="Artefactual Systems" title="Artefactual Systems" height="49"></a>
            {% endimage %}
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-6">
    <div class="featureBox">
        <header>
            <h3>Ian Hendersohn<br> (User of FFV1/xml/lpcm in a national archive)</h3>
            <span class="featureDescription">Provide testing and feedback of project tools</span>
        </header>
        <p class="featureInfos">
        </p>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        // Adapt height of featureBox header to have buttons on the same line
        var featureBoxHeight = function() {
            var previousElem;
            // Apply only on medium screen and up
            if ($(window).width() >= 768) {
                $('.featureBox header').each(function(index, elem) {
                    if (index % 2) {
                        if (previousElem.clientHeight > elem.clientHeight) {
                            $(elem).height(previousElem.clientHeight);
                        }
                        else if (elem.clientHeight > previousElem.clientHeight) {
                            $(previousElem).height(elem.clientHeight);
                        }
                    }
                    else {
                        previousElem = elem;
                    }
                });
            }
            else {
                $('.featureBox header').each(function(index, elem) {
                    $(elem).height('auto');
                });
            }
        };

        featureBoxHeight();
    });
</script>
{% endblock %}
