
<table class="table-condensed">
    <tbody>
        <tr>
            <td width="100px">
                {% image '@AppBundle/Resources/public/img/MediaInfo_90x90.png' %}
                    <img src="{{ absolute_url(asset_url) }}" alt="MediaArea Logo" title="MediaArea Logo" />
                {% endimage %}
            </td>
            <td class="media-middle">
                MediaArea.net<br>
                Chemin du Vernay<br>
                73190 Curienne<br>
                France
            </td>
        </tr>
    </tbody>
</table>

<table class="table-condensed title">
    <tbody>
        <tr>
            <td style="color: #0070bb; font-size: 20px;background-color: #F0F0F0;">Invoice #<span class="invoice-data-id">{{ data.id }}</span> (<span class="invoice-data-currency">{{ data.currency }}</span>)</td>
            <td class="text-right" style="color: #0070bb; font-size: 20px;background-color: #F0F0F0;"><span class="invoice-data-date">{{ data.date }}</span></td>
        </tr>
    </tbody>
</table>

<div class="table-responsive">
    <table class="download table table-bordered table-condensed">
        <thead>
            <tr class="table-header">
                <th style="background-color: #9CF;">Quantity</th>
                <th style="background-color: #9CF;">Description</th>
                <th style="background-color: #9CF;">Unit price</th>
                <th style="background-color: #9CF;">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td><span class="invoice-data-product">{{ data.product }}</span></td>
                <th><span class="invoice-data-amount">{{ data.amount }}</span></th>
                <th><span class="invoice-data-amount">{{ data.amount }}</span></th>
            </tr>
        </tbody>
    </table>
</div>
<p class="text-right">
    Subtotal : <span class="invoice-data-amount">{{ data.amount }}</span><br>
    Sales tax (<span class="invoice-data-country">{{ data.country }}</span>) : <span class="invoice-data-vat">{{ data.vat }}</span><br>
    <b>Total : <span class="invoice-data-total">{{ data.total }}</span></b>
</p>
<footer class="text-center">
    <hr>
    SARL 5 000 € - RCS Chambéry 500 291 844 - VAT : FR 73 500 291 844<br>
    MediaArea.net SARL - Chemin du Vernay 73190 Curienne France
</footer>
