{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time To Wait{% endblock %}

{% block body %}
  <header>
    <hgroup>
      {% image '@NoTimeToWaitBundle/Resources/public/img/nttw.jpg' %}
          <img src="{{ asset_url }}" alt="No Time To Wait logo" class="img-responsive center-xs" title="No Time To Wait logo">
      {% endimage %}
      <h1>No Time To Wait</h1>
      <p>Open Media, Open Formats, Open Archives</p>  
    </hgroup>
  </header>
  <div class="grid-container">
    <section>
      <h2 class="title">What</h2>
      <div class="content">
        <p>
          No Time To Wait! Symposium originally was formed as part of the PREFORMA project as a "3 day symposium of workshops &amp; presentations on the standardization &amp; use of FFV1 &amp; Matroska in archives" held before an IETF event in Berlin and hosted by Deutsche Kinemathek, Zuse Institute Berlin and MediaArea.net. The following year, the conference continued in Vienna, hosted by Austrian Film Museum and MediaArea.net with support of AV-RD, with a broader scope defined as "A symposium focused on open media, open standards, and digital audiovisual preservation." and "A 2 day symposium on the intersection of open media, standardization, and audiovisual preservation." The Year 2 theme was "Open Media, Open Formats, Open Archives". After the end of the PREFORMA project, No Time to Wait has continued as an annual conference with the support of our hosts, sponsors, volunteers, contributors, and community.
        </p>
        <p>
          Conferences used the tagline of:
          "Audiovisual Archivists (people who use the formats) +
          Developers (people who design the formats) +
          Open Standards Working Group (people who write specification for formats)
          Together!" 
        </p>
      </div>
    </section>
    <section>
      <h2 class="title">Next</h2>
      <div class="content">
        <p>
          <a href="{{ path('notimetowait_9') }}">No Time To Wait 9 (2025, Dublin)</a>  
        </p>
      </div>
    </section>
    <section>
      <h2 class="title">Past</h2>
      <div class="content">
        <p>
          <a href="{{ path('notimetowait_8') }}">No Time To Wait 8 (2024, Karlsruhe)</a>  
        </p>
        <p>
          <a href="{{ path('notimetowait_7') }}">No Time To Wait 7 (2023, Prague)</a>  
          <br/>
          <a href="{{ path('notimetowait_6') }}">No Time To Wait 6 (2022, The Hague)</a>  
          <br/>
          <a href="{{ path('notimetowait_5') }}">No Time To Wait 5 (2021, Online)</a>  
          <br/>
          <a href="{{ path('notimetowait_4') }}">No Time To Wait 4 (2019, Budapest)</a>  
          <br/>
          <a href="{{ path('qcworkshop2018') }}">QC workshop (2018, Luxembourg)</a>  
          <br>
          <a href="{{ path('notimetowait_3') }}">No Time To Wait 3 (2018, London)</a>  
          <br>
          <a href="{{ path('notimetowait_2') }}">No Time To Wait 2 (2017, Vienna)</a>  
          <br>
          <a href="{{ path('notimetowait_1') }}">No Time To Wait 1 (2016, Berlin)</a>
        </p>
      </div>
    </section>
  </div>
{% endblock %}
