{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}Open Source Quality Checking Workshop 2018{% endblock %}

{% block body %}
<h1>Open Source Quality Checking Workshop at Luxembourg</h1>

<p>Digital audiovisual files are large, complex, and difficult to manage. Performing quality control
and validation tasks on these files, generally composed of multiple file types, is inherently more
difficult than print- or image-based files. This workshop will cover resources and open source software for
born-digital and digitized audiovisual, and provide an understanding of their role in processing
workflows.</p>

<h2>What</h2>
<p>A FREE one-day workshop focused on open media, open standards, and digital audiovisual preservation organized by <a href="http://www.cna.public.lu/" target="_blank">Centre national de l'audiovisuel Luxembourg</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>, hosted by <a href="http://www.technoport.lu" target="_blank">Technoport Luxembourg</a>.<br>
Provided (in English) by <a href="http://training.ashleyblewer.com/" target="_blank">Ashley Blewer</a> with support (in English, or French when needed) from <a href="/">Jérôme Martinez</a>.</p>

<p>This course enables the attendee to gain skills in the digital audiovisual preservation problem domain, including:</p>

<ul>
  <li>Identifying file composition: how are video files made?</li>
  <li>Identifying and manipulating file format and codec complexities: how are audiovisual files structured?</li>
  <li>Distinguishing file validation nuances: how to tell what part of a file is the problem?</li>
  <li>Solutions: What are some potential tools that help provide solutions? How can these tools be used for large-scale projects?</li>
</ul>

<h2>When</h2>
<p>Thursday, November 29, 2018</p>

<p>Start: 09:00<br>
End: 17:00</p>

<h2>Where</h2>

<p><a href="http://www.technoport.lu" target="_blank">Technoport</a>, 9, avenue des Hauts-Fourneaux, 4362 Esch-sur-Alzette, Luxembourg</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2591.0526848791637!2d5.9469844161276875!3d49.50239907935588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479535034c0a600b%3A0xe8b8bed0e26f33a!2sTechnoport+S.a.!5e0!3m2!1sfr!2sde!4v1537451807281" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2>Intended audience</h2>
<p>This course was initially designed for the Centre national de l'audiovisuel Luxembourg and now supports a
wide range of professionals who work on or are planning to work with audiovisual materials in
the context of large-scale digitization and preservation efforts. These include preservation
professionals; digital specialists; database administrators; program managers and directors;
archivists, curators, librarians, and researchers.</p>

<h2>Technical requirements</h2>
<p>This workshop requires each participant to bring their own laptop so everyone can get the most
out of their time. Loaner laptops will not be available. This course will cover the following tools:
<a href="{{ path('mc_home') }}">MediaConch</a>, <a href="{{ path('qc_home') }}">QCTools</a>, <a href="{{ path('rawcooked_home') }}">RAWcooked</a>. Please do your best to install your laptop with the
MediaConch and QCTools tools beforehand. We will do our best to help demonstrate tools for
those who will not have configured laptops.
We will also focus primarily on GUI (graphical user interface) versions of software, when
possible. The CLI would require an intermediate level of understanding and experience with
basic unix as a prerequisite. A CLI background is not a prerequisite to the workshop.</p>

<h2>Program</h2>

<p>Thursday, November 29, morning: Introduction to domain</p>
<ul>
  <li>Overview of open source software, benefits and disadvantages</li>
  <li>Overview of unique characteristics and primary challenges in digital audiovisual preservation</li>
  <li>Overview of file formats and types, standards, validation, and technical specifications</li>
  <li>What is a file format, how are they similar/different?</li>
  <li>How are file formats made?</li>
  <li>What is a standards process and technical specification and why does it matter?</li>
  <li>Identifying file composition: how are video files made?</li>
  <li>Identifying and manipulating file format and codec complexities: how are audiovisual files structured? How can you discriminate among the many possible options? What are downstream workflow implications?</li>
  <li>Distinguishing file validation nuances: how to tell what part of a file is the problem? What are some potential solutions?</li>
</ul>

<p>Thursday, November 29, afternoon: Introduction to tools</p>
<ul>
  <li>Presentations and demonstration of <a href="{{ path('mc_home') }}">MediaConch</a>, <a href="{{ path('qc_home') }}">QCTools</a>, <a href="{{ path('rawcooked_home') }}">RAWcooked</a>.</li>
  <li>Hands-on practice with tools.</li>
</ul>

<h2>Code of Conduct</h2>

<p>This workshop is governed by the <a href="{{ path('ma_conduct') }}">MediaArea Code of Conduct</a>. All instructors and participants agree to abide by its terms. To report violations, send an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#111;&#110;&#100;&#117;&#099;&#116;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;&#063;&#115;&#117;&#098;&#106;&#101;&#099;&#116;&#061;&#067;&#111;&#100;&#101;&#037;&#050;&#048;&#111;&#102;&#037;&#050;&#048;&#067;&#111;&#110;&#100;&#117;&#099;&#116;">conduct@mediaarea.net</a>.</p>

<h2>Thanks</h2>

<p>Thanks to the <a href="http://www.technoport.lu" target="_blank">Technoport Luxembourg</a> for hosting and Alessandra Luciano for organization.</p>

<h2>Registration</h2>

<p>Please register as a participant:</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeqTGEWkk1Nx8pOriF6eS5YR0w5fIRK1F7sheUUu4x5707Vdg/viewform?embedded=true" width="640" height="1537" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>

{% endblock %}
