{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" value="{{ email }}" />

        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-default" />
    </div>
</form>
<hr>
<p>
    <a href="{{ path('ma_contact') }}">Contact us</a> if you do not receive the email to reset your password.
</p>
