{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! Become a sponsor or a supporter of MediaArea{% endblock %}
{% block description %}Support Us! Become a sponsor or a supporter of MediaArea{% endblock %}
{% block keywords %}Donation sponsor subscriber supporter member crowdfunding{% endblock %}

{% block body %}
<h1 class="text-center">
    MediaArea 2018:<br>
    Let's make Digital Media Analysis better!
</h1>

<p>
    MediaArea is an open source software company specializing in digital media analysis. In order to improve our tools, we rely on your support! Your financial backing allows MediaArea to pay experts, professional media file format specialists and developers to work on improving these tools critical to media analysis infrastructure for everybody. Your organization can focus on doing great work while we focus on improving the tools you rely on.
</p>

<p>Together, let's make digital media analysis better!</p>

<p>
    <b>Financial:</b><br>
    <a href="{{ path('supportUs_corporate') }}">Corporate</a> and <a href="{{ path('supportUs_individual') }}">individual</a> sponsorships are available. This also gives you priority support and allows you to be part of the conversation people who decide about the future of MediaArea tools.
</p>

<div class="form-group row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <a href="{{ path('supportUs_individual') }}" class="btn btn-primary btn-lg btn-block btn-support">Individual</a>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('supportUs_corporate') }}" class="btn btn-primary btn-lg btn-block btn-support">Corporate</a>
        </div>
    </div>
</div>

<p>
    <b>Social:</b><br>
    <ul>
        <li>Share this page (<a href="{{ url('supportUs_about') }}">{{ url('supportUs_about') }}</a>) in your community</li>
        <li><a href="https://twitter.com/MediaArea_Net" target="_blank">Follow us on Twitter</li>
        <li><a href="https://www.linkedin.com/company/mediaarea-net" target="_blank">Follow us on LinkedIn</a></li>
        <li><a href="https://www.facebook.com/MediaAreaNet/" target="_blank">Like and follow us on Facebook</a></li>
        <li><a href="https://www.facebook.com/pg/MediaAreaNet/reviews/" target="_blank">Write a review on Facebook</a></li>
        <li><a href="https://plus.google.com/+MediaAreaNetOfficial" target="_blank">Like and follow us on Google+</a></li>
        <li>Mac App Store: Download and review the tools we work on: <a href="https://itunes.apple.com/app/mediainfo/id510620098" target="_blank">MediaInfo</a>,
            <a href="https://itunes.apple.com/app/mediaconch/id1183720451" target="_blank">MediaConch</a>,
            <a href="https://itunes.apple.com/app/qctools/id1234563987" target="_blank">QCTools</a>,
            <a href="https://itunes.apple.com/app/bwf-metaedit/id860703858" target="_blank">BWF MetaEdit</a>,
            <a href="https://itunes.apple.com/app/avi-metaedit/id1289778020" target="_blank">AVI MetaEdit</a>,
            <a href="https://itunes.apple.com/app/dvanalyzer/id1289789624" target="_blank">DV Analyzer</a>
        </li>
        <li>Github: Star the tools we work on: <a href="https://github.com/MediaArea/MediaInfo" target="_blank">MediaInfo</a>,
            <a href="https://github.com/MediaArea/MediaInfoLib" target="_blank">MediaInfoLib</a>,
            <a href="https://github.com/MediaArea/MediaConch_SourceCode" target="_blank">MediaConch</a>,
            <a href="https://github.com/MediaArea/QCTools" target="_blank">QCTools</a>,
            <a href="https://github.com/MediaArea/BWFMetaEdit" target="_blank">BWF MetaEdit</a>,
            <a href="https://github.com/MediaArea/AVIMetaEdit" target="_blank">AVI MetaEdit</a>,
            <a href="https://github.com/MediaArea/MOVMetaEdit" target="_blank">MOV MetaEdit</a>,
            <a href="https://github.com/MediaArea/DVAnalyzer" target="_blank">DV Analyzer</a>
        </li>
        <li>OpenHub: Click on "I use this" for tools we work on: <a href="https://www.openhub.net/p/MediaInfo" target="_blank">MediaInfo</a>,
            <a href="https://www.openhub.net/p/MediaInfoLib" target="_blank">MediaInfoLib</a>,
            <a href="https://www.openhub.net/p/MediaConch" target="_blank">MediaConch</a>,
            <a href="https://www.openhub.net/p/QCTools" target="_blank">QCTools</a>,
            <a href="https://www.openhub.net/p/BWFMetaEdit" target="_blank">BWF MetaEdit</a>,
            <a href="https://www.openhub.net/p/AVIMetaEdit" target="_blank">AVI MetaEdit</a>,
            <a href="https://www.openhub.net/p/MOVMetaEdit" target="_blank">MOV MetaEdit</a>,
            <a href="https://www.openhub.net/p/DVAnalyzer" target="_blank">DV Analyzer</a>
        </li>
        <li>Write us a testimonial (long like <a href="https://mediaarea.net/MediaConch/blog.html">these</a> or short like <a href="{{ path('mi_testimonials') }}">these</a>), <a href="mailto:info@mediaarea.net">contact us</a></li>
        <li>Send patches</li>
    </ul>
</p>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@SupportUsBundle/Resources/public/css/supportUs.css'
    filter='?scssphp' output='css/supportUs.css'
 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
