{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! Become a sponsor of MediaArea{% endblock %}
{% block description %}Support Us! Become a sponsor of MediaArea{% endblock %}
{% block keywords %}Donation sponsor member crowdfunding{% endblock %}

{% block body %}
<h1>Become a MediaArea sponsor</h1>

<p>
    Wanting only dedicated support? Check the <a href="{{ path('ma_professional_services') }}">Services page</a><br>
    Interested as an individual? Check out our <a href="{{ path('supportUs_individual') }}">individual page</a>
</p>

<p>
    {% if country %}{% trans with { '%country%': country, '%currency%': currency.currency } %}supportUs.individual.location_currency{% endtrans %}{% else %}{% trans with { '%currency%': currency.currency } %}supportUs.individual.currency{% endtrans %}{% endif %}  (VAT excluded)
</p>

<p>Select a plan:</p>
<div class="text-center">
    <button type="button" class="btn btn-support-us btn-corporate-bronze">
        <span class="plan-title">Bronze</span>
        <hr>
        <span>3000 €</span>
    </button>
    <button type="button" class="btn btn-support-us btn-corporate-silver">
        <span class="plan-title">Silver</span>
        <hr>
        <span>8000 €</span>
    </button>
    <button type="button" class="btn btn-support-us btn-corporate-gold">
        <span class="plan-title">Gold</span>
        <hr>
        <span>20000 €</span>
    </button>
</div>

<p>Or customize it:</p>
<input id="slider" data-slider="true" data-slider-range="1,20" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true" style="display: none;" value="3" type="text">

<div class="support-us-features-list">
    <p id="corporate-label"></p>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <a class="btn btn-default btn-lg btn-block corporate-quote-btn btn-support" href="mailto:info@mediaarea.net?Subject=Request%20quote%20for%20sponsor">Contact us for a formal quote</a>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@SupportUsBundle/Resources/public/css/simple-slider.css'
    '@SupportUsBundle/Resources/public/css/supportUs.css'
    filter='?scssphp' output='css/supportUs.css'
 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% javascripts
    '@SupportUsBundle/Resources/public/js/simple-slider.min.js'
    '@SupportUsBundle/Resources/public/js/supportUsSlider.js'
    filter="?jsqueeze" output='js/supportUs.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        supportUs.initCorporate('{{ currency.currencySymbol }}');
    });
</script>
{% endblock %}
