{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! Become a supporter of MediaArea{% endblock %}
{% block description %}Support Us! Become a supporter of MediaArea{% endblock %}
{% block keywords %}Donation subscriber supporter member crowdfunding{% endblock %}

{% block body %}
<form class="form-horizontal form-pricing" role="form">
    <div class="price-slider">
        <h1>Become a MediaArea supporter</h1>
        <p>
            (Your company could be interested? Check also our <a href="{{ path('supportUs_corporate') }}">corporate page</a>)
        </p>
        <p>
            {% if country %}{% trans with { '%country%': country, '%currency%': currency.currency } %}donate.location_currency{% endtrans %}<br>{% endif %}
        </p>
        <p>Choose your amount (VAT {% if vatRate %}{{ vatRate }}% {% endif %}included):<br/>&nbsp;</p>
        <div class="row">
            <div class="col-sm-12">
                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="price-form">
        <input id="total" class="form-control" value="" type="hidden" />
        <p id="total-label"></p>
    </div>

    <div class="form-group row pay">
        <div class="col-sm-12">
            {% if not app.user %}{% trans with { '%login%': path('fos_user_security_login'), '%register%': path('fos_user_registration_register') } %}donate.not_loggued_in{% endtrans %}{% endif %}
            <p>Pay with:</p>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Credit Card</button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Paypal</button>
        </div>
    </div>

    <div class="form-group row no-pay hidden">
        <p>&nbsp;</p>
        <div class="col-sm-12">
            <a class="btn btn-primary btn-lg btn-block btn-support" href="{{ path('supportUs_about') }}">Financially embarrassed? Help us spread the word!</a>
        </div>
    </div>
</form>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@SupportUsBundle/Resources/public/css/supportUs.css'
    filter='?scssphp' output='css/supportUs.css'
 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% javascripts
    '@SupportUsBundle/Resources/public/js/jquery-ui.min.js'
    output='js/jquery-ui.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts
    '@SupportUsBundle/Resources/public/js/supportUsSlider.js'
    filter="?jsqueeze" output='js/supportUsSlider.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        supportUs.initIndividual('{{ currency.currencySymbol }}');
    });
</script>
{% endblock %}
