{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! List of sponsors of MediaArea{% endblock %}
{% block description %}Support Us! List of sponsors of MediaArea{% endblock %}
{% block keywords %}Donation sponsor member crowdfunding{% endblock %}

{% block body %}
<h1>Our sponsors</h1>

<section id="gold" class="anchor">
    <h2>Gold sponsors</h2>
    <ul class="icon-lists sponsors-gold">
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
    </ul>
    <div class="clearfix"></div>
</section>

<section id="silver" class="anchor">
    <h2>Silver sponsors</h2>
    <ul class="icon-lists sponsors-silver">
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/350x350.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
    </ul>
    <div class="clearfix"></div>
</section>

<section id="bronze" class="anchor">
    <h2>Bronze sponsors</h2>
    <ul class="icon-lists sponsors-bronze">
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/250x250.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/250x250.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/250x250.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/250x250.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
    </ul>
    <div class="clearfix"></div>
</section>

<section id="sponsor" class="anchor">
    <h2>Sponsors</h2>
    <ul class="icon-lists sponsors-basic">
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
        <li class="icon">
            <p class="button text-center"><a href="" target="_blank" title="Your company website URL">Your company name</a></p>

            {% image '@SupportUsBundle/Resources/public/img/150x150.png' %}
                <a href="" target="_blank"><img src="{{ asset_url }}" alt="Your company website URL" title="Your company website URL" /></a>
            {% endimage %}
        </li>
    </ul>
    <div class="clearfix"></div>
</section>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@SupportUsBundle/Resources/public/css/supportUs.css'
    filter='?scssphp' output='css/supportUs.css'
 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
