{% extends 'DVAnalyzerBundle::base.html.twig' %}

{% block title %}DV Analyzer{% endblock %}

{% block body %}
<section class="download-wrapper">
    <div class="row reorder-xs">
        <div class="v-align carousel-padding-xs col-xs-12 col-sm-5">
            <div>
            {% image '@DVAnalyzerBundle/Resources/public/img/DVAnalyzer_home.png' %}
                <img src="{{ asset_url }}" alt="DV Analyzer logo" class="img-responsive center-xs" title="DV Analyzer logo" />
            {% endimage %}
            </div>
        </div>
        <div class="v-align col-sm-7">
            <div class="center-font-xs">
                <h1 class="v-align bigtitle">DV Analyzer</h1>
            </div>
            <div class="projectDescription center-font-xs">
                <strong>DV Analyzer</strong> is a technical quality control and reporting tool that examines DV streams in order to report errors in the tape-to-file transfer process, such as video error concealment information, invalid audio samples, timecode inconsistency, inconsistent use of arbitrary bits in video DIF blocks, and DIF structural problems. DV Analyzer also reports on patterns within DV streams such as changes in DV time code, changes in recording date and time markers, first and last frame markers within individual recordings, and more.<br/>
                Initially funded, designed and led by <a href="https://www.avpreserve.com/dvanalyzer/" target="_blank">AVPreserve</a>; developed by MediaArea.<br/>
                MediaArea was involved in the development and provides binaries for all platforms.
            </div>

            {% if 'Windows' == downloadInfo.name %}
                {% set downloadLink = '//mediaarea.net/download/binary/dvanalyzer-gui/' ~ downloadInfo.version ~ '/DVAnalyzer_GUI_' ~ downloadInfo.version ~ '_Windows_x64.exe' %}
            {% else %}
                {% set downloadLink = path(downloadInfo.route) %}
            {% endif %}

            <div class="inner center-xs center-font-xs">
                <div class="btn-group hidden-xs">
                    {% if 'macOS' == downloadInfo.name %}
                    <a class="btn btn-default btn-lg btn-dl" href="https://itunes.apple.com/app/dvanalyzer/id1289789624" target="_blank">
                        <span class="downloadText">Download DV Analyzer</span>
                    </a>
                    {% else %}
                    <a class="btn btn-default btn-lg btn-dl" href="{{ downloadLink }}">
                        <span class="downloadText">Download DV Analyzer</span>
                    </a>
                    {% endif %}
                    <a href="{{ path('dv_download') }}" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-default platform-icons">
                        <li><a href="{{ path('dv_download_windows') }}">Windows</a></li>
                        <li><a href="{{ path('dv_download_mac') }}">macOS</a></li>
                        <li><a href="{{ path('dv_download_debian') }}">Debian</a></li>
                        <li><a href="{{ path('dv_download_ubuntu') }}">Ubuntu</a></li>
                        <li><a href="{{ path('dv_download_ubuntu') }}">Linux Mint</a></li>
                        <li><a href="{{ path('dv_download_rhel') }}">RedHat Entreprise Linux</a></li>
                        <li><a href="{{ path('dv_download_centos') }}">CentOS</a></li>
                        <li><a href="{{ path('dv_download_fedora') }}">Fedora</a></li>
                        <li><a href="{{ path('dv_download_opensuse') }}">openSUSE</a></li>
                        <li><a href="{{ path('dv_download_archlinux') }}">ArchLinux</a></li>
                        <li><a href="{{ path('dv_download_flatpak') }}">Flatpak</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('dv_download') }}">Other systems</a></li>
                    </ul>
                </div>
                <div class="btn-group visible-xs visible-xs-inline-block">
                    {% if 'macOS' == downloadInfo.name %}
                    <a class="btn btn-default btn-lg btn-dl" href="https://itunes.apple.com/app/dvanalyzer/id1289789624" target="_blank">
                        <span class="downloadText">Download DV Analyzer</span>
                    </a>
                    {% else %}
                    <a class="btn btn-default btn-lg btn-dl " href="{{ path(downloadInfo.route) }}">
                        <span class="downloadText">Download DV Analyzer</span>
                    </a>
                    {% endif %}
                </div>

                <div class="projectDescription">
                    <div class="downloadDetails">
                        Version {{ downloadInfo.version }}{% if downloadInfo.name %}, for {{ downloadInfo.name }}{% endif %}
                    <br>
                    Other versions (packaging, OS, interface...) are also <a href="{{ path('dv_download') }}">available</a>
                    {% image '@AppBundle/Resources/public/img/blank.gif' %}
                    (<a href="{{ path('dv_download_windows') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Microsoft Windows" title="Microsoft Windows" class="sprite Windows"></a>
                    <a href="{{ path('dv_download_mac') }}"><img src="{{ asset_url }}" width="16" height="16" alt="macOS" title="macOS" class="sprite MacOS"></a>
                    <a href="{{ path('dv_download_debian') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Debian" title="Debian" class="sprite Debian"></a>
                    <a href="{{ path('dv_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Ubuntu" title="Ubuntu" class="sprite Ubuntu"></a>
                    <a href="{{ path('dv_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Linux Mint" title="Linux Mint" class="sprite Linux_Mint"></a>
                    <a href="{{ path('dv_download_rhel') }}"><img src="{{ asset_url }}" width="16" height="16" alt="RedHat Entreprise Linux" title="RedHat Entreprise Linux" class="sprite RedHat"></a>
                    <a href="{{ path('dv_download_centos') }}"><img src="{{ asset_url }}" width="16" height="16" alt="CentOS" title="CentOS" class="sprite CentOS"></a>
                    <a href="{{ path('dv_download_fedora') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Fedora" title="Fedora" class="sprite Fedora"></a>
                    <a href="{{ path('dv_download_opensuse') }}"><img src="{{ asset_url }}" width="16" height="16" alt="openSUSE" title="openSUSE" class="sprite openSUSE"></a>
                    <a href="{{ path('dv_download_archlinux') }}"><img src="{{ asset_url }}" width="16" height="16" alt="ArchLinux" title="ArchLinux" class="sprite ArchLinux"></a>
                    <a href="{{ path('dv_download_flatpak') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Flatpak" title="Flatpak" class="sprite Flatpak"></a>)
                    {% endimage %}
                    <br>
                    See <a href="https://github.com/MediaArea/DVAnalyzer/blob/master/History_GUI.txt">ChangeLog</a> or <a href="/download/snapshots/binary/">very latest snapshots</a>
                    </div>
                    <div class="alert alert-info text-center">
                        {% trans with {'%donateRoute%': path('supportUs_individual')} %}about.what.donate{% endtrans %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="about">
<h2>Temporal Metadata Reporting:</h2>
<p>The reformatting of DV tapes (such as miniDV, DVCam, and DVCPro) to DV file-based formats is a point when the introduction of permanent errors is of particularly high risk. Most capture tools for DV only report errors if they are significant, such as a lost frame, whereas other documented errors are not reviewed. DV Analyzer provides a way to analyze and report audio, video, subcode, and structural errors within a DV file. This enables automated quality control and the ability to verify the accuracy and integrity of the reformatting process on a frame-by-frame basis.</p>

<h2>Explanation of DV Analyzer Views and Documents:</h2>
<p>The DV format is rich with temporal metadata. Every frame may contain time code, recording date and time information, recording markers, and more. DV Analyzer reports this information which can be used in a variety of meaningful ways when working with and preserving DV content. This is particularly useful in documenting source material of edited DV content.<br/>
Check a <a href="{{ path('dv_doc_analyze') }}">list of information that DV Analyzer interprets</a>.</p>

<h2>Case study:</h2>
<p>This case study documents presents sample DV files along with explanations of various errors or events that DV Analyzer may reveal in the tape to file migration of DV video.</p>
<ul>
<li><a href="{{ path('dv_doc_metadata') }}">Temporal metadata and use of Final Cut Pro XML</a></li>
<li><a href="{{ path('dv_doc_video_errors') }}">Detection of Video Error Concealment</a></li>
<li><a href="{{ path('dv_doc_audio_errors') }}">Detection of Audio Errors</a></li>
<li><a href="{{ path('dv_doc_dif_incoherency') }}">Detection of DIF Incoherency</a></li>
<li><a href="{{ path('dv_doc_stts_fluctuation') }}">Detection of STTS Fluctuation</a></li>
</ul>

<h2>License:</h2>
It is <a href="http://en.wikipedia.org/wiki/Open_source">Open-Source</a> software which means that end users and developers have freedom to study, to improve and to redistribute the program (<a href="{{ path('dv_license') }}">GPLv3+</a> for the code developed by us).
</section>
{% endblock %}
