{% extends 'BlogBundle::base.html.twig' %}

{% block title %}MediaArea blog{% endblock %}

{% block body %}
<h1>MediaArea blog</h1>
{% for post in posts %}
    <h2><a href="{{ path('ma_blog_post', post.getUrlParams)}}">{{ post.title }}</a></h2>
    <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.htmlContent|striptags|truncate(400, true, '…')|raw}}{% endif %} <a href="{{ path('ma_blog_post', post.getUrlParams)}}">[continue]</a></p>

{% endfor %}
<div class="text-center">
    {{ include('@App/paginator.html.twig', {paginator: paginator}, with_context = false) }}
</div>
{% endblock %}
