{% extends 'BlogBundle::base.html.twig' %}

{% block title %}MediaArea blog{% endblock %}

{% block body %}
<h1>MediaArea blog</h1>
<div>
    Filter by popular tags :
        <span class="label label-default"><a href="{{ path('ma_blog_tag_index', {'tag': 'mediaconch'}) }}">MediaConch</a></span>
        <span class="label label-default"><a href="{{ path('ma_blog_tag_index', {'tag': 'interview'}) }}">Interview</a></span>
        <span class="label label-default"><a href="{{ path('ma_blog_tag_index', {'tag': 'newsletter'}) }}">Newsletter</a></span>
</div>

{{ include('@Blog/Default/postsList.html.twig', {posts: posts}, with_context = false) }}

<div class="text-center">
    {{ include('@App/paginator.html.twig', {paginator: paginator}, with_context = false) }}
</div>
{% endblock %}
