{% if 'prod' == app.environment %}
    {% set paypalUrl = 'https://www.paypal.com' %}
{% else %}
    {% set paypalUrl = 'https://www.sandbox.paypal.com' %}
{% endif %}

<form action="{{ paypalUrl }}/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="zen@mediaarea.net">
    <input type="hidden" name="lc" value="{{ country }}">
    <input type="hidden" name="item_name" value="{% trans %}paypal.donation{% endtrans %}">
    {{ currencyBefore }}
    <select name="amount">';
    {% for i in [1, 10, 100, 1000] %}
        {% set val1 = currencyBase * i * 1 %}
        {% set val2 = currencyBase * i * 2 %}
        {% set val5 = currencyBase * i * 5 %}
        <option {% if val1 == currencyDonateDefault %}selected {% endif %}value="{{ val1 ~ '.00' }}">{{ val1 }}</option>
        <option {% if val2 == currencyDonateDefault %}selected {% endif %}value="{{ val2 ~ '.00' }}">{{ val2 }}</option>
        <option {% if val5 == currencyDonateDefault %}selected {% endif %}value="{{ val5 ~ '.00' }}">{{ val5 }}</option>
    {% endfor %}
    </select> {{ currencyAfter }}
    <input type="hidden" name="currency_code" value="{{ currency }}">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="return" value="{{ path('mi_home') }}?Donated=true">
    <input type="hidden" name="cancel_return" value="{{ path('mi_donate') }}">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
    <br/>
    <input type="image" src="{{ paypalUrl }}/{{ languageCountry }}/i/btn/btn_donateCC_LG.gif" name="submit" alt="{% trans %}paypal.submit.alt{% endtrans %}">
    <img alt="" src="{{ paypalUrl }}/{{ languageCountry }}/i/scr/pixel.gif" width="1" height="1">
</form>

<br/>
<br/>

<form action="{{ paypalUrl }}/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="zen@mediaarea.net">
    <input type="hidden" name="lc" value="{{ country }}">
    <input type="hidden" name="item_name" value="{% trans %}paypal.donation{% endtrans %}">
    <input type="hidden" name="no_shipping" value="1">
    {% trans %}paypal.subscribe.or{% endtrans %} {{ currencyBefore }}
    <select name="a3">';
    {% for i in [1, 10, 100, 1000] %}
        {% set val1 = currencyBase * i * 1 %}
        {% set val2 = currencyBase * i * 2 %}
        {% set val5 = currencyBase * i * 5 %}
        <option {% if val1 == currencySubscribeDefault %}selected {% endif %}value="{{ val1 ~ '.00' }}">{{ val1 }}</option>
        <option {% if val2 == currencySubscribeDefault %}selected {% endif %}value="{{ val2 ~ '.00' }}">{{ val2 }}</option>
        <option {% if val5 == currencySubscribeDefault %}selected {% endif %}value="{{ val5 ~ '.00' }}">{{ val5 }}</option>
    {% endfor %}
    </select> {{ currencyAfter }}/{% trans %}paypal.subscribe.month{% endtrans %}
    <input type="hidden" name="currency_code" value="{{ currency }}">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="p3" value="1">
    <input type="hidden" name="t3" value="M">
    <input type="hidden" name="sra" value="1">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
    <br/>
    <input type="image" src="{{ paypalUrl }}/{{ languageCountry }}/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="{% trans %}paypal.submit.alt{% endtrans %}">
    <img alt="" src="{{ paypalUrl }}/{{ languageCountry }}/i/scr/pixel.gif" width="1" height="1">
</form>
