{% extends 'RAWcookedBundle::base.html.twig' %}

{% block title %}RAWcooked{% endblock %}

{% block body %}
<section class="download-wrapper">
    <div class="row reorder-xs">
        <div class="v-align carousel-padding-xs col-xs-12 col-sm-5">
            <div>
            {% image '@RAWcookedBundle/Resources/public/img/RAWcooked_256.png' %}
                <img src="{{ asset_url }}" alt="RAWcooked logo" class="img-responsive center-xs" title="RAWcooked logo">
            {% endimage %}
            </div>
        </div>
        <div class="v-align col-sm-7">
            <div class="center-font-xs">
                <h1 class="v-align bigtitle">RAWcooked</h1>
            </div>
            <div class="projectDescription center-font-xs">
                <strong>RAWcooked</strong>  easily encodes RAW audio-visual image sequences into a lossless video stream, reducing the file size by between one and two thirds.  Using FFmpeg the audio-visual data is encoded into a Matroska container (MKV) using the video codec FFV1, and audio codec FLAC. The metadata accompanying the RAW data is fully preserved, along with additional sidecar files such as MD5 checksums, LUT or XML if desired. This allows for the management of these audio-visual file formats in an effective and transparent way. The lossless Matroska video stream can be played in VLC or MPV media players, and writing and retrieving from storage devices such as LTO is significantly quicker.<br>
                If you need to use the RAW source in its original form, one line of code will easily restore it <b>bit-by-bit</b>, faster than retrieving the same file from LTO tape storage.
            </div>
            <br>
            <div class="projectDescription center-font-xs">
                Sponsored by <a href="https://reto.ch">AV Preservation by reto.ch</a> with support from <a href="http://www.cna.public.lu">CNA (National Audiovisual Centre of Luxembourg)</a>, <a href="https://www.nb.no">Nasjonalbiblioteket (National Library of Norway)</a>, <a href="http://ifi.ie">IFI (Irish Film Institute)</a>, <a href="http://www.library.northwestern.edu">Northwestern University Libraries</a>, <a href="https://www.library.wales">National Library of Wales</a>, <a href="https://bmac.libs.uga.edu/pawtucket2/">Walter J. Brown Media Archives</a>; designed, led and fully developed by MediaArea.
            </div>
            <br>
            <div class="projectDescription center-font-xs">
                {% if 'Windows' == downloadInfo.name %}
                    You need to download and install <a href="https://ffmpeg.zeranoe.com">FFmpeg</a> to use RAWcooked.
                {% else %}
                    {% if 'macOS' == downloadInfo.name %}
                        You need to download and install <a href="https://evermeet.cx/ffmpeg/">FFmpeg</a> to use RAWcooked.
                    {% else %}
                        You need to download and install FFmpeg to use RAWcooked.
                    {% endif %}
                {% endif %}
                
            </div>

            {% if 'Windows' == downloadInfo.name %}
                {% set downloadLink = '//mediaarea.net/download/binary/rawcooked/' ~ downloadInfo.version ~ '/RAWcooked_CLI_' ~ downloadInfo.version ~ '_Windows_x64.zip' %}
            {% else %}
                {% set downloadLink = path(downloadInfo.route) %}
            {% endif %}

            <div class="inner center-xs center-font-xs">
                <div class="btn-group hidden-xs">
                    {% if 'macOS' == downloadInfo.name %}
                    <a class="btn btn-default btn-lg btn-dl" href="http://mediaarea.net/download/binary/rawcooked/18.10.1/RAWcooked_CLI_18.10.1_Mac.dmg" target="_blank">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                    {% else %}
                    <a class="btn btn-default btn-lg btn-dl " href="{{ downloadLink }}">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                    {% endif %}
                    <a href="{{ path('rawcooked_download') }}" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-default platform-icons">
                        <li><a href="{{ path('rawcooked_download_windows') }}">Windows</a></li>
                        <li><a href="{{ path('rawcooked_download_mac') }}">macOS</a></li>
                        <li><a href="{{ path('rawcooked_download_debian') }}">Debian</a></li>
                        <li><a href="{{ path('rawcooked_download_ubuntu') }}">Ubuntu</a></li>
                        <li><a href="{{ path('rawcooked_download_ubuntu') }}">Linux Mint</a></li>
                        <li><a href="{{ path('rawcooked_download_rhel') }}">RedHat Entreprise Linux</a></li>
                        <li><a href="{{ path('rawcooked_download_centos') }}">CentOS</a></li>
                        <li><a href="{{ path('rawcooked_download_fedora') }}">Fedora</a></li>
                        <li><a href="{{ path('rawcooked_download_opensuse') }}">openSUSE</a></li>
                        <li><a href="{{ path('rawcooked_download_archlinux') }}">ArchLinux</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('rawcooked_download') }}">Other systems</a></li>
                    </ul>
                </div>
                <div class="btn-group visible-xs visible-xs-inline-block">
                    <a class="btn btn-default btn-lg btn-dl " href="{{ path(downloadInfo.route) }}">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                </div>

                <div class="projectDescription">
                    <div class="downloadDetails">
                        Version {{ downloadInfo.version }}{% if downloadInfo.name %}, for {{ downloadInfo.name }}{% endif %}
                    <br>
                    Other versions (packaging, OS, interface...) are also <a href="{{ path('rawcooked_download') }}">available</a>
                    {% image '@AppBundle/Resources/public/img/blank.gif' %}
                    (<a href="{{ path('rawcooked_download_windows') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Microsoft Windows" title="Microsoft Windows" class="sprite Windows"></a>
                    <a href="{{ path('rawcooked_download_mac') }}"><img src="{{ asset_url }}" width="16" height="16" alt="macOS" title="macOS" class="sprite MacOS"></a>
                    <a href="{{ path('rawcooked_download_debian') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Debian" title="Debian" class="sprite Debian"></a>
                    <a href="{{ path('rawcooked_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Ubuntu" title="Ubuntu" class="sprite Ubuntu"></a>
                    <a href="{{ path('rawcooked_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Linux Mint" title="Linux Mint" class="sprite Linux_Mint"></a>
                    <a href="{{ path('rawcooked_download_rhel') }}"><img src="{{ asset_url }}" width="16" height="16" alt="RedHat Entreprise Linux" title="RedHat Entreprise Linux" class="sprite RedHat"></a>
                    <a href="{{ path('rawcooked_download_centos') }}"><img src="{{ asset_url }}" width="16" height="16" alt="CentOS" title="CentOS" class="sprite CentOS"></a>
                    <a href="{{ path('rawcooked_download_fedora') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Fedora" title="Fedora" class="sprite Fedora"></a>
                    <a href="{{ path('rawcooked_download_opensuse') }}"><img src="{{ asset_url }}" width="16" height="16" alt="openSUSE" title="openSUSE" class="sprite openSUSE"></a>
                    <a href="{{ path('rawcooked_download_archlinux') }}"><img src="{{ asset_url }}" width="16" height="16" alt="ArchLinux" title="ArchLinux" class="sprite ArchLinux"></a>
                    {% endimage %}
                    <br>
                    See <a href="https://github.com/MediaArea/RAWcooked/blob/master/History_CLI.txt">ChangeLog</a> or <a href="/download/snapshots/binary/rawcooked">very latest snapshots</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<h2>The challenges of archival storage</h2>
<p>Many archives preserve their scanned films as TIFF or DPX image sequences. These are grouped as multiple film reels, or individual reels in folders that are often TAR or ZIP wrapped before being copied to longterm storage. Since the beginning of digital moving image preservation it has been the dream of many archives to have a single file format that is suitable for the preservation of both film and video.</p>
<p>For further context:</p>
<ul>
<li>Reto Kromer: «<a href="https://retokromer.ch/publications/JFP_96.html" target="_blank">Matroska and FFV1: One File Format for Film and Video Archiving?</a>», in <i>Journal of Film Preservation</i>, n. 96 (April 2017)</li>
<li>Kieran O’Leary: «<a href="https://kieranjol.wordpress.com/2016/10/07/introduction-to-ffv1-and-matroska-for-film-scans/" target="_blank">Introduction to FFV1 and Matroska for Film Scans</a>», 2016–10–07</li>
</ul>
<h2>The missing piece of software</h2>
<p>The solution MediaArea have created to meet this need is <i>RAWcooked</i>. This software encodes from, and decodes to, «raw» audio-visual image sequences in a revolutionary and transparent way. The image and/or sound content, including all the embedded metadata and sidecar files, is fully preserved at the bit level.<br>
An otherwise unviewable image sequence can be viewed easily with VLC or MPV when encoded as a Matroska file. Plus this process is fully reversible returning your image sequence back to its original package content.</p>
<h2>Matroska file complete reversibility</h2>
<p>Whenever necessary, <i>RAWcooked</i> can decode the Matroska file back to the original RAW image sequence, including restoration of the original metadata and sidecar files. It is important to stress that the encoded files can be fully decoded, and that this process will be create bit-by-bit identical files to the originals. Not only is the image and/or sound content fully preserved, but also all enclosed metadata and the all of the file’s characteristics. Therefore, an encoded and decoded RAW file cannot be differentiated from its original.</p>
<h2>A complete ecosystem</h2>
<p>The Matroska files that have been encoded by <i>RAWcooked</i> can be used with many popular open source softwares which support FFV1 and FLAC playback, including:</p>
<ul>
<li><a href="https://www.videolan.org/vlc/">VLC</a> media player for quick and simple review</li>
<li><a href="https://www.ffmpeg.org/">FFmpeg</a> for transcoding, playback, metadata viewing and extraction</li>
<li><a href="{{ path('qc_home') }}">QCTools</a> advanced quality control software for audio-visual files</li>
<li><a href="{{ path('mi_home') }}">MediaInfo</a> display and export technical metadata</li>
<li><a href="{{ path('mc_home') }}">MediaConch</a> for checking the conformance of a file</li>
</ul>
<p>Being open source, they’re free to use allowing archives with limited resources to process the files encoded by <i>RAWcooked</i> on any computer, such as for cataloging or access purposes.</p>
<h2>Funding plan</h2>
<p>MediaArea.net has achieved implementation of RAWcooked’s basic module with thanks to AV Preservation reto.ch, who has guaranteed software development with funding of 10,000€.</p>
<p>The archive community or interested industry users are invited to <a href="{{ path('ma_contact') }}">buy</a> additional flavours required by their institution - such as components, bit depths, endianess, packing, etc.  Required flavours will be fully tested by MediaArea.net to exact specification before being implemented into the software.</p>
<p>This model allows contributors the assurance that their files will work seamlessly with the software from the outset.</p>
<p>The price is 1000€ for basic support including bug fixes and one additional flavour, then 500 € for each following flavour.  Additional flavours can be added at a later if you are not sure of how many flavours you need immediately.</p>
<h2>Status</h2>
<p>RAWcooked had its first official release October 2018, with support for a limited number of DPX flavours. To use RAWcooked simply type  <code>rawcooked /RAWsequenceDPX/</code> which begins the encoding using FFmpeg to create an MKV encoded file in the same folder, leaving the original DPX sequence in tact.  You can also use this command <code>rawcooked yourdpx.dpx</code> using the first DPX file in a sequence within your folder. To return the MKV back to its RAW source format use <code>rawcooked yourdpx.mkv</code> which uses RAWcooked software to unpack your RAW sequence bit-by-bit, including all original metadata and sidecar files.<br>
Developments are still ongoing for a future version that will implement checksum hash embedding and reversibility check functions. <a href="/download/snapshots/binary/rawcooked/">Development snapshots</a> are available and you are welcome to contribute to this process by testing the code.</p>
</section>

<section>
<h2>Supported (when officially launched) input flavors</h2>
<p><span class="supported-default">D = Supported by default</span> /
<span class="supported-key">K = Supported with a key, please <a href="{{ path('ma_contact') }}">contact us</a></span> /
<span class="supported-needfile">N = File needed, please <a href="{{ path('ma_contact') }}">contact us</a></span></p>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Packing</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="20"><b>DPX</b><br>left to right<br>top to bottom<br>1 image element<br>unsigned<br>without encoding</td>
    <td rowspan="11">RGB</td>
    <td>8-bit</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">10-bit</td>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td rowspan="4">12-bit</td>
    <td rowspan="2">Packed</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit Float (out of FFV1 specs)</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="9">RGBA</td>
    <td>8-bit</td>
    <td></td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">10-bit</td>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="4">12-bit</td>
    <td rowspan="2">Packed</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td><b>TIFF</b><br>Limitations to be defined</td>
    <td>RGB</td>
    <td>16-bit</td>
    <td></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="3"><b>EXR</b><br>Limitations to be defined</td>
    <td rowspan="3">RGB</td>
    <td>16-bit Float</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td>32-bit</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td>32-bit Float</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Audio format</th>
    <th>Sampling rate</th>
    <th>Bit depth</th>
    <th>Channels</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="24"><b>PCM</b><br>In WAV, BWF, RF64</td>
    <td rowspan="8">44.1 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="8">48 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="8">96 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>

<p>Another format/flavor you want us to support (e.g. little endian…)? <a href="{{ path('ma_contact') }}">Contact us</a>.</p>

<h2>Supported (when officially launched) output formats</h2>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Container format</th>
    <th>Stream format</th>
    <th></th>
    <th></th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="3">MKV</td>
    <td>FFV1</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td>FLAC</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td>PCM</td>
    <td></td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<p>Another format you want us to support (e.g. MOV…)? <a href="{{ path('ma_contact') }}">Contact us</a>.</p>

    <h2>License:</h2>
    <p>It is <a href="https://en.wikipedia.org/wiki/Open_source">Open-Source</a> software which means that end users and developers have freedom to study, to improve and to redistribute the program (<a href="https://github.com/MediaArea/RAWcooked/blob/master/LICENSE">BSD 2-Clause license</a> for the code developed by us).</p>
</section>
{% endblock %}
