{% extends 'RAWcookedBundle::base.html.twig' %}

{% block title %}RAWcooked{% endblock %}

{% block body %}
<section class="download-wrapper">
    <div class="row reorder-xs">
        <div class="v-align carousel-padding-xs col-xs-12 col-sm-5">
            <div>
            {% image '@RAWcookedBundle/Resources/public/img/RAWcooked_256.png' %}
                <img src="{{ asset_url }}" alt="RAWcooked logo" class="img-responsive center-xs" title="RAWcooked logo">
            {% endimage %}
            </div>
        </div>
        <div class="v-align col-sm-7">
            <div class="center-font-xs">
                <h1 class="v-align bigtitle">RAWcooked</h1>
            </div>
            <div class="projectDescription center-font-xs">
                <strong>RAWcooked</strong> encodes RAW audio-visual data into the Matroska container (MKV), using the video codec FFV1 for the image and audio codec FLAC for the sound. The metadata accompanying the RAW data are preserved, and sidecar files, like MD5, LUT or XML, can be added into the Matroska container as attachments. This allows for the management of these audio-visual file formats in an effective and transparent way (e.g. native playback in VLC), while saving typically between one to two thirds of the needed storage, and speeding up the back-up process on LTO cartridges.<br>
                When needed, the uncompressed source is retrieved <b>bit-by-bit</b>, in a manner faster than uncompressed sources directly stored on LTO cartridges.
            </div>
            <br>
            <div class="projectDescription center-font-xs">
                Sponsored by <a href="https://reto.ch">AV Preservation by reto.ch</a> with support from <a href="http://www.cna.public.lu">CNA (National Audiovisual Centre of Luxembourg)</a>, <a href="https://www.nb.no">Nasjonalbiblioteket (National Library of Norway)</a>, <a href="http://ifi.ie">IFI (Irish Film Institute)</a>, <a href="http://www.library.northwestern.edu">Northwestern University Libraries</a>, <a href="https://www.library.wales">National Library of Wales</a>; designed, led and fully developed by MediaArea.
            </div>
            <br>
            <div class="projectDescription center-font-xs">
                This is an beta release, for testing purpose.<br />
                {% if 'Windows' == downloadInfo.name %}
                    You need <a href="https://ffmpeg.zeranoe.com">FFmpeg</a> installed on your machine.
                {% else %}
                    {% if 'macOS' == downloadInfo.name %}
                        You need <a href="https://evermeet.cx/ffmpeg/">FFmpeg</a> installed on your machine.
                    {% else %}
                        You need FFmpeg installed on your machine.
                    {% endif %}
                {% endif %}
                
            </div>

            {% if 'Windows' == downloadInfo.name %}
                {% set downloadLink = '//mediaarea.net/download/binary/rawcooked/' ~ downloadInfo.version ~ '/RAWcooked_CLI_' ~ downloadInfo.version ~ '_Windows_x64.zip' %}
            {% else %}
                {% set downloadLink = path(downloadInfo.route) %}
            {% endif %}

            <div class="inner center-xs center-font-xs">
                <div class="btn-group hidden-xs">
                    {% if 'macOS' == downloadInfo.name %}
                    <a class="btn btn-default btn-lg btn-dl" href="http://mediaarea.net/download/binary/rawcooked/18.09beta1/RAWcooked_CLI_18.09beta1_Mac.dmg" target="_blank">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                    {% else %}
                    <a class="btn btn-default btn-lg btn-dl " href="{{ downloadLink }}">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                    {% endif %}
                    <a href="{{ path('rawcooked_download') }}" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-default platform-icons">
                        <li><a href="{{ path('rawcooked_download_windows') }}">Windows</a></li>
                        <li><a href="{{ path('rawcooked_download_mac') }}">macOS</a></li>
                        <li><a href="{{ path('rawcooked_download_debian') }}">Debian</a></li>
                        <li><a href="{{ path('rawcooked_download_ubuntu') }}">Ubuntu</a></li>
                        <li><a href="{{ path('rawcooked_download_ubuntu') }}">Linux Mint</a></li>
                        <li><a href="{{ path('rawcooked_download_rhel') }}">RedHat Entreprise Linux</a></li>
                        <li><a href="{{ path('rawcooked_download_centos') }}">CentOS</a></li>
                        <li><a href="{{ path('rawcooked_download_fedora') }}">Fedora</a></li>
                        <li><a href="{{ path('rawcooked_download_opensuse') }}">openSUSE</a></li>
                        <li><a href="{{ path('rawcooked_download_archlinux') }}">ArchLinux</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('rawcooked_download') }}">Other systems</a></li>
                    </ul>
                </div>
                <div class="btn-group visible-xs visible-xs-inline-block">
                    <a class="btn btn-default btn-lg btn-dl " href="{{ path(downloadInfo.route) }}">
                        <span class="downloadText">Download RAWcooked</span>
                    </a>
                </div>

                <div class="projectDescription">
                    <div class="downloadDetails">
                        Version {{ downloadInfo.version }}{% if downloadInfo.name %}, for {{ downloadInfo.name }}{% endif %}
                    <br>
                    Other versions (packaging, OS, interface...) are also <a href="{{ path('rawcooked_download') }}">available</a>
                    {% image '@AppBundle/Resources/public/img/blank.gif' %}
                    (<a href="{{ path('rawcooked_download_windows') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Microsoft Windows" title="Microsoft Windows" class="sprite Windows"></a>
                    <a href="{{ path('rawcooked_download_mac') }}"><img src="{{ asset_url }}" width="16" height="16" alt="macOS" title="macOS" class="sprite MacOS"></a>
                    <a href="{{ path('rawcooked_download_debian') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Debian" title="Debian" class="sprite Debian"></a>
                    <a href="{{ path('rawcooked_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Ubuntu" title="Ubuntu" class="sprite Ubuntu"></a>
                    <a href="{{ path('rawcooked_download_ubuntu') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Linux Mint" title="Linux Mint" class="sprite Linux_Mint"></a>
                    <a href="{{ path('rawcooked_download_rhel') }}"><img src="{{ asset_url }}" width="16" height="16" alt="RedHat Entreprise Linux" title="RedHat Entreprise Linux" class="sprite RedHat"></a>
                    <a href="{{ path('rawcooked_download_centos') }}"><img src="{{ asset_url }}" width="16" height="16" alt="CentOS" title="CentOS" class="sprite CentOS"></a>
                    <a href="{{ path('rawcooked_download_fedora') }}"><img src="{{ asset_url }}" width="16" height="16" alt="Fedora" title="Fedora" class="sprite Fedora"></a>
                    <a href="{{ path('rawcooked_download_opensuse') }}"><img src="{{ asset_url }}" width="16" height="16" alt="openSUSE" title="openSUSE" class="sprite openSUSE"></a>
                    <a href="{{ path('rawcooked_download_archlinux') }}"><img src="{{ asset_url }}" width="16" height="16" alt="ArchLinux" title="ArchLinux" class="sprite ArchLinux"></a>
                    {% endimage %}
                    <br>
                    See <a href="https://github.com/MediaArea/RAWcooked/blob/master/History_CLI.txt">ChangeLog</a> or <a href="/download/snapshots/binary/rawcooked">very latest snapshots</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<h2>A current reality of many archives</h2>
<p>Many archives preserve their single-image based files as TIFF or DPX, grouped by entire films or single reels, and stored inside folders, or TAR or ZIP archives. Since the beginning of digital moving image preservation, having a single file format which is suitable for the preservation of both film and video has been a dream of many audio-visual archives, especially smaller ones.</p>
<p>Additional context:</p>
<ul>
<li>Reto Kromer: «<a href="https://retokromer.ch/publications/JFP_96.html" target="_blank">Matroska and FFV1: One File Format for Film and Video Archiving?</a>», in <i>Journal of Film Preservation</i>, n. 96 (April 2017)</li>
<li>Kieran O’Leary: «<a href="https://kieranjol.wordpress.com/2016/10/07/introduction-to-ffv1-and-matroska-for-film-scans/" target="_blank">Introduction to FFV1 and Matroska for Film Scans</a>», 2016–10–07</li>
</ul>
<h2>The missing piece of software</h2>
<p>The solution we propose is <i>RAWcooked</i>, a piece of software that  encodes from and decodes to various so-called «raw» audio-visual file formats in a completely transparent way. The image content and/or sound content, including all the related metadata and sidecar files, is fully preserved at the bit level.<br>
For instance, the unplayable ZIP files could be replaced by a playable file, with the full reversibility of the original package content.</p>
<h2>Decoding the Matroska file back to the original RAW</h2>
<p>Whenever needed, <i>RAWcooked</i> decodes back the encoded Matroska file to the original RAW files, including all the original metadata and sidecar files. It is important to stress clearly that the encoded files can be decoded, and the resulting files are bit-by-bit identical to the original ones. Not only is the image and/or sound content fully preserved, but also all enclosed metadata and the all of the file’s characteristics. Therefore, an encoded and decoded RAW file cannot be differentiated from its original.</p>
<h2>A complete ecosystem</h2>
<p>The Matroska files which have been encoded by <i>RAWcooked</i> can be used on wide range of popular software supporting Matroska/FFV1 and FLAC playback, including:</p>
<ul>
<li><a href="https://www.videolan.org/vlc/">VLC</a> media player for playback</li>
<li><a href="https://www.ffmpeg.org/">FFmpeg</a> tools can transcode, playback and probe those files</li>
<li><a href="{{ path('qc_home') }}">QCTools</a> can performs in-depth analysis</li>
<li><a href="{{ path('mi_home') }}">MediaInfo</a> can display technical information</li>
<li><a href="{{ path('mc_home') }}">MediaConch</a> can check the conformance of the file</li>
</ul>
<p>This way an archive with limited resources can process the files encoded by <i>RAWcooked</i> on every current computer (e.g. for cataloging or access purposes).</p>
<h2>Funding plan</h2>
<p>MediaArea.net realizes the implementation of the basis module for anticipated costs of 10&nbsp;000&nbsp;&euro; which are guaranteed by AV Preservation by reto.ch.</p>
<p>The archival community and the industry are invited to <a href="{{ path('ma_contact') }}">buy</a> the flavors (components, bit depths, endianess, packing, etc.) of the formats they actually need. An example file of each flavor of a format will be tested by MediaArea.net and the exact specification implemented into the software.</p>
<p>This way the contributing bodies and individuals are sure their files can be processed by the software.</p>
<p>The price is 1&nbsp;000&nbsp;&euro; for basic support (bug fixes) and one non-free flavour, then 500&nbsp;&euro; for each following non-free flavour (additional flavours can be added later if you are not sure of how many flavours you need now, at the same price).</p>
<h2>Status</h2>
<p>RAWcooked is currently under development. <a href="/download/snapshots/binary/rawcooked/">Development snapshots</a> are available (<a href="https://github.com/MediaArea/RAWcooked">corresponding code</a>), not to be used in production yet. As in January, some DPX flavors are supported, a sequence of DPX is detected, encode is delegated to FFmpeg and decode is native (from another MediaArea project), <code>rawcooked yourdpx.dpx</code> provides the FFmpeg command to run for encode, <code>rawcooked yourdpx.mkv</code> reverts bit-by-bit.<br>
Priority is given to formats and flavors from our sponsors. You can test with this <a href="https://github.com/MediaArea/RAWcooked-RegressionTestingFiles/blob/master/Features/AV_Package/818_DCDM_P3_IA_FIC_000918/818_OV/818_OV_0086945.dpx?raw=true">file</a> (or a <a href="https://github.com/MediaArea/RAWcooked-RegressionTestingFiles/tree/master/Features/AV_Package/818_DCDM_P3_IA_FIC_000918/818_OV">sequence of files</a>).</p>
</section>

<section>
<h2>Supported (when officially launched) input flavors</h2>
<p><span class="supported-default">D = Supported by default</span> /
<span class="supported-key">K = Supported with a key, please <a href="{{ path('ma_contact') }}">contact us</a></span> /
<span class="supported-needfile">N = File needed, please <a href="{{ path('ma_contact') }}">contact us</a></span></p>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Packing</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="20"><b>DPX</b><br>left to right<br>top to bottom<br>1 image element<br>unsigned<br>without encoding</td>
    <td rowspan="11">RGB</td>
    <td>8-bit</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">10-bit</td>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td rowspan="4">12-bit</td>
    <td rowspan="2">Packed</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit Float (out of FFV1 specs)</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="9">RGBA</td>
    <td>8-bit</td>
    <td></td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">10-bit</td>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="4">12-bit</td>
    <td rowspan="2">Packed</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">Filled A</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">16-bit</td>
    <td rowspan="2"></td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td><b>TIFF</b><br>Limitations to be defined</td>
    <td>RGB</td>
    <td>16-bit</td>
    <td></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Video format</th>
    <th width="10%">Components</th>
    <th>Bit depth</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="3"><b>EXR</b><br>Limitations to be defined</td>
    <td rowspan="3">RGB</td>
    <td>16-bit Float</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td>32-bit</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td>32-bit Float</td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Audio format</th>
    <th>Sampling rate</th>
    <th>Bit depth</th>
    <th>Channels</th>
    <th>Endianess</th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="24"><b>PCM</b><br>In WAV, BWF, RF64</td>
    <td rowspan="8">44.1 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="8">48 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="8">96 kHz</td>
    <td rowspan="4">16-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  </tr>
  <tr>
    <td rowspan="4">24-bit</td>
    <td rowspan="2">2-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
  <tr>
    <td rowspan="2">6-channel</td>
    <td><abbr title="Big Endian">BE</abbr></td>
    <td class="supported-needfile"><abbr title="File needed, please contact us">N</abbr></td>
  </tr>
  <tr>
    <td><abbr title="Little Endian">LE</abbr></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>

<p>Another format/flavor you want us to support (e.g. little endian…)? <a href="{{ path('ma_contact') }}">Contact us</a>.</p>

<h2>Supported (when officially launched) output formats</h2>
<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<tr class="table-header">
    <th width="40%">Container format</th>
    <th>Stream format</th>
    <th></th>
    <th></th>
    <th width="5%">Support</th>
</tr>
  <tr>
    <td rowspan="3">MKV</td>
    <td>FFV1</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td>FLAC</td>
    <td></td>
    <td></td>
    <td class="supported-default"><abbr title="Supported by default">D</abbr></td>
  </tr>
  <tr>
    <td>PCM</td>
    <td></td>
    <td></td>
    <td class="supported-key"><abbr title="Supported with a key, please contact us">K</abbr></td>
  </tr>
</table>
</div>
<p>Another format you want us to support (e.g. MOV…)? <a href="{{ path('ma_contact') }}">Contact us</a>.</p>

    <h2>License:</h2>
    <p>It is <a href="https://en.wikipedia.org/wiki/Open_source">Open-Source</a> software which means that end users and developers have freedom to study, to improve and to redistribute the program (<a href="https://github.com/MediaArea/RAWcooked/blob/master/LICENSE">BSD 2-Clause license</a> for the code developed by us).</p>
</section>
{% endblock %}
